.hidden {
  display: none;
}

.show {
  display: block;
}

.center {
  display: flex;
  justify-content: center;
}

.text-left {
  text-align: left !important;
}

.highlighted {
  font-weight: 400;
}
