.login-layout {
    margin: 140px auto 0;
    width: 444px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Open Sans Regular'!important;
}
.login-layout img {
    margin: 0 auto;
}