.DemoReport{
    font-family: 'Open Sans Regular'!important;
}

.DemoReport .inputText .inputText--lg {
    font-family: 'Open Sans Regular'!important;
    border-width: 2px;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-radius: 2px;
    width: 296px;
    height: 29px;
    transition: all 0.5s;
}

.DemoReport textarea {
    font-family: 'Open Sans Regular'!important;
    border-width: 2px;
    border-color: rgb(225, 225, 225);
    border-style: solid;
    border-radius: 2px;
    width: 296px;
    height : 84px;
    transition: all 0.5s;
    resize: none;
}



.DemoReport .container {
    padding: 32px 31rem;
    text-align: center;
    max-width: 130rem;
}

  .DemoReport ul {
    /*text-decoration: underline;*/
    font-size: 14px;
    width: 500px;
    text-align: left;
    font-weight: bold;
  }
  .DemoReport .btn.saveCompany {
    font-family: 'Open Sans Regular'!important;
    background-color: #4472C4;
    font-size:16px;
    width: 175px;
}