.modalInfo {
  font-family: 'Open Sans Regular'!important;
}
.modalInfo h2.title{
    font-family: 'Open Sans Regular'!important;
    text-align: center;
    font-size: 20px;
    color: black;
  }
  
  .modalInfo form{
    font-family: 'Open Sans Regular'!important;
    padding: 10px;
    margin: 0px;
    min-height: 345px;
  }
  
  .modalInfo table{
    font-family: 'Open Sans Regular'!important;
    margin: 0px;
  }
  
  
  .modalInfo table td,.modalInfo table th{
    padding: 0;
    margin: 0;
    border: none;
    text-align: left;
    position: relative;
    vertical-align:top;
  }
  
  .modalInfo ul{
      margin: 0;
  }
  
  .modalInfo .memberList, .modalInfo .versionList, .modalInfo .addList, .modalInfo .declinedList{
    list-style: none;
    padding-left: 10px;
    font-size: 14px;
    line-height: 15px;
    color: #4a4a4a;
  }
  
  .modalInfo .memberList li, .modalInfo .versionList, .modalInfo .addList, .modalInfo .declinedList  li{
    margin: 0;
  }
  
  .modalInfo .projectDesc{
    font-size: 14px;
    color: #4a4a4a;
    padding: 5px;
    border-color: #b1b1b1!important;
    margin-bottom: 0;
  }
  
  .modalInfo .msg .content{
    text-indent: inherit;
    padding: 0 3px;
  }
  .modal .actions .btn.callToAction {
    background-color: #4472C4;
  }
  .modal-demo .row company__item {
    margin: 0 auto !important;
  }

  .modal-demo input {
    width : 15%;
  }

@media (min-width: 40rem)
{
  .modal-demo .row {
    margin-left: 0px!important;
    width: 100%!important;
  }
}

.modal-demo textarea {
  resize: none;
  width: 340px;
}
.modal-demo .company__error {
  margin-top: 1px !important;
  margin-bottom: -23px!important;
  margin-left: -3px!important;
  font-size: 10px!important;
  margin: -10px 0 10px 5px;
  color: #ef4136;
  font-weight: 700;
}